<section class="account-wrapper" role="region" aria-labelledby="account-title">
  <h1 id="account-title" class="page-title">My Account</h1>

  <div class="account-card">
    <dl class="account-info">
      <div class="info-row">
        <dt>First Name:</dt>
        <dd>{{user.firstname}}</dd>
      </div>
      <div class="info-row">
        <dt>Last Name:</dt>
        <dd>{{user.lastname}}</dd>
      </div>
      <div class="info-row">
        <dt>Email:</dt>
        <dd>{{user.email}}</dd>
      </div>
      <div class="info-row">
        <dt>Contact Number:</dt>
        <dd>{{user.contactnumber}}</dd>
      </div>
      <div class="info-row">
        <dt>Address:</dt>
        <dd>{{user.address}}</dd>
      </div>
    </dl>

    <div class="account-actions">
      <a 
        href="/edituser-form/{{user._id}}" 
        class="btn edit-btn" 
        aria-label="Edit your account information"
      >
        Edit Account
      </a>
    </div>
  </div>
</section>
